h1 {
  text-align: center;
  font-size: 2rem;
}

#submitButton {
  margin-top: 20px;
}

#myCheckbox {
  margin-left: 30px;
}

.link {
  display: none;
  margin-left: 50px;
}

.celda:hover>.link {
  display: inline;

}
